<div class="card">
  <div class="card-content">
    <div class="card-body">
      <LinkTo @route="chapter.show"  @model={{@chapter.id}}>
        {{@chapter.title}}
      </LinkTo>
    </div>
  </div>
</div>

