<p class="display-6">Available H5P content</p>

<div class="row">
  <div class="col-5">
    {{#each this.model.data as |chapter|}}
    <Chapter::PreviewCard @chapter={{chapter}}>
     </Chapter::PreviewCard>
    {{/each}}
  </div>
</div>