<h5 class="display-4">Select H5P content to edit</h5>

<ol type="1">

  {{#each this.model.data as |chapter|}}
  <li>
    <LinkTo @route="teach.edit" @model={{chapter.id}}>Edit {{chapter.title}}</LinkTo>

  </li>
    {{/each}}
</ol>