<ul class="nav border-bottom">
  <li class="nav-item">
    <LinkTo @route="chapter" class="nav-link">Home</LinkTo>
  </li>
  <li class="nav-item">
    <LinkTo @route="teach" class="nav-link">Edit content</LinkTo>
  </li>
  <li class="nav-item">
    <LinkTo @route="teach.create" class="nav-link">Create new content</LinkTo>
  </li>
</ul>
<div class="container">
  {{outlet}}
</div>