<ul class="nav border-bottom">
  <li class="nav-item">
    <LinkTo @route="chapter" class="nav-link">Home</LinkTo>
  </li>
  <li class="nav-item">
    <LinkTo @route="teach" class="nav-link">Teach</LinkTo>
  </li>
</ul>
<div class="container">
  {{outlet}}
</div>